<style>#Form-field-Settings-_auth_redirect_uri {background-color: #fff!important; color: #385478; cursor: text; }</style>
<label for="Form-field-Settings-_auth_redirect_uri"><?=e(trans('zaxbux.gmailmailerdriver::lang.settings.field.auth_redirect_uri.label'))?></label>
<input type="text" id="Form-field-Settings-_auth_redirect_uri" value="<?=$value?>" class="form-control" autocomplete="off" readonly onfocus="this.select();" onmouseup="return false;">
<p class="help-block"><?=e(trans('zaxbux.gmailmailerdriver::lang.settings.field.auth_redirect_uri.comment'))?></p>