<div class="callout fade in callout-danger">
	<div class="header">
		<i class="icon-warning"></i>
		<h3><?=e(trans('zaxbux.gmailmailerdriver::lang.widgets.authorizationstatus.unauthorized.label'));?></h3>
		<p><?=e(trans('zaxbux.gmailmailerdriver::lang.widgets.authorizationstatus.unauthorized.comment'));?></p>
	</div>
	<div class="content">
		<p><a href="<?=$value?>" class="btn btn-primary"><?=e(trans('zaxbux.gmailmailerdriver::lang.widgets.authorizationstatus.unauthorized.button'));?></a></p>
	</div>
</div>