<div class="report-widget">
	<h3><?=e(trans('zaxbux.gmaildriver::lang.widgets.authorizationStatus.label'));?></h3>
	<div class="callout fade in callout-success">
		<div class="header">
			<i class="icon-check"></i>
			<p>
				<strong><?=e(trans('zaxbux.gmaildriver::lang.widgets.authorizationStatus.authorized.label'));?></strong><br>
				<?=e(trans('zaxbux.gmaildriver::lang.widgets.authorizationStatus.authorized.comment', ['app_name' => Config::get('app.name')]));?>
			</p>
		</div>
	</div>
</div>