<div class="report-widget">
	<h3><?=e(trans('zaxbux.gmaildriver::lang.widgets.authorizationStatus.label'));?></h3>
	<div class="callout fade in callout-danger">
		<div class="header">
			<i class="icon-warning"></i>
			<p>
				<strong><?=e(trans('zaxbux.gmaildriver::lang.widgets.authorizationStatus.unauthorized.label'));?></strong><br>
				<?=e(trans('zaxbux.gmaildriver::lang.widgets.authorizationStatus.unauthorized.comment', ['app_name' => Config::get('app.name')]));?>
			</p>
		</div>
		<div class="content m-a-0">
			<a href="<?=$googleAuthURL?>" class="btn btn-primary btn-block p-x"><?=trans('zaxbux.gmaildriver::lang.widgets.authorizationStatus.unauthorized.button');?></a>
		</div>
	</div>
</div>